.bottom-footer {
    background: linear-gradient(90deg, #020202, #093f26);
    /* background: linear-gradient(90deg, #0f5132, #198754); */
    color: white;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
}